<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/estilo.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="{{ url_for('static',filename='js/main.js') }}" charset="utf-8"></script>
  <script src="{{ url_for('static',filename='js/tanque.js') }}" charset="utf-8"></script>
  <!--<script src="{{ url_for('static',filename='js/getlocalstorage.js') }}" charset="utf-8"></script>-->
  {% block head %}{% endblock %}
</head>

<body>
  {% block body %}{% endblock %}
</body>

</html>
